body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
  background: #8989ba; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #8989ba 0%,
    #8989ba 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #8989ba 0%,
    #8989ba 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #8989ba 0%,
    #8989ba 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#8989ba",
      endColorstr="#8989ba",
      GradientType=0
    ); /* IE6-9 */
  font-family: "Roboto", sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

#memory-board {
  background: #dddddd;
  width: 800px;
  height: 540px;
  padding: 70px;
  border-radius: 84px;
  box-shadow: inset 0px 0px 20px -6px rgba(97, 89, 97, 1);
}

.card .back {
  background-color: #456783;
  width: 71px;
  height: 71px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}

#score {
  background-color: rgba(215, 44, 44, 0.8);
  width: 20%;
  border-radius: 8px;
}

.container {
  position: relative;
}
